@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Parker's ASP Website";
}

<!--Title with my preferred name-->
<h1>My Name Is Parker</h1>
<!--Picture of me doing something I love-->
<img src="img/hikingpic.jpg" alt="Picture of me and my family on a hike" height="200" />

<br />

<!--Paragraph on what I hope to get out of IS 413-->
<p>
    I am really looking forward to this class because I want to be a competent web developer. Something I want to learn this semester is how to learn by practicing.
    Sometimes, I just follow along with videos and try to get my homework done as soon as possible, but this semester I want to really learn the material.
</p>

<!--A list of the top 3 jobs I'm interested in pursuing-->
<label for="jobList">Jobs I am Interested In: </label>
<ul id="jobList">
    <li>NetSuite Consulting/General Consulting</li>
    <li>Project Management</li>
    <li>Web Development</li>
</ul>